@{
    var searchString = "";
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    @Html.ActionLink("Newsify", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
            </li>
            <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
            @if (Session["UserName"] != null)
            {
                <li>@Session["UserName"].ToString().Replace("\"", "")</li>
                <li>@Html.ActionLink("Logout", "Logout", "Home", null, new { @class = "nav-link" })</li>
            }
            else
            {
                <li>@Html.ActionLink("Login", "Login", "Home", null, new { @class = "nav-link" })</li>
            }
        </ul>
        <form name="SearchForm" class="form-inline my-2 my-lg-0">
            <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" onclick="@(searchString = Html.Name("search").ToString())">
                Search
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                @Html.ActionLink("Title", "Search", "Home", new { SearchString = searchString, Criteria = "Title" }, new { @class = "dropdown-item" })
                @Html.ActionLink("Topic", "Search", "Home", new { SearchString = "Apple", Criteria = "Topic" }, new { @class = "dropdown-item" })
                <div role="separator" class="dropdown-divider"></div>
                @Html.ActionLink("Source", "Search", "Home", new { SearchString = "Hello", Criteria = "Source" }, new { @class = "dropdown-item" })
                @Html.ActionLink("Country", "Search", "Home", new { SearchString = "Hello", Criteria = "Country" }, new { @class = "dropdown-item" })
                @Html.ActionLink("Language", "Search", "Home", new { SearchString = "Hello", Criteria = "Language" }, new { @class = "dropdown-item" })
            </div>
        </form>
    </div>
</nav>
