@model Newsify.ASP.Models.Article

@{
    ViewBag.Title = "Newsify";
}

<div class="container text-center">
    <img src="@Model.urlToImage" style="width:400px;height:300px;" onerror="this.src='https://cdn4.iconfinder.com/data/icons/prohibition-and-warning-signs/128/Prohibition_signs_No_camera_photographs-512.png'"/>
    <h1 style="text-align: center">@Model.title</h1>
    <hr />
    <hr />
    <h3 style="text-align:center">@Model.description</h3>
    <div class="container text-center">@Model.mainText</div>
</div>

<div class="container">
    @if (Session["UserName"] != null && Session["UserName"].ToString() != "")
    {
        @Html.ActionLink("New Comment", "Comment", new { articleId = Model.ID } );
    }
</div>

<div id="comments">
    @Ajax.ActionLink("Show Comments", "Comments", new { articleID = Model.ID}, null)
</div>

<div class="container text-center">
    <!-- Show comments here -->
</div>